<ion-header>
  <ion-toolbar>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
            Email is required.
          </span>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
            Enter valid email.
          </span>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.required">
            Password is required.
          </span>
          <span class="error ion-padding" *ngIf="submitted && errorCtr.password.errors?.pattern">
            Enter valid password.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-button type="submit" expand="block">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="goToRegister()" expand="block">register
            <ion-icon name="person-add" slot="start"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>